<div id="emergency">
  <div class="editable-plugin bootstrap">  
    <div class="form-horizontal">
      <div class="row">
        <div class="span6">
          <div class="control-group">
            <div class="controls">
              <p class="text">
                <%= raw t("plugins.descriptions.emergency") %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span6">
          <div class="control-group">
            <label class="control-label">
              <%= t("plugins.attributes.emergency.limit") %>
            </label>
            <div class="controls">
              <%= text_field_tag(:limit, 0, "data-arg" => 1, class: "input-mini" ) %><br/>
              <span class="muted description"><%= raw t("plugins.descriptions.attributes.emergency.limit") %></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span6">
          <div class="control-group">
            <label class="control-label">
              <%= t("plugins.attributes.emergency.date") %>
            </label>
            <div class="controls">
              <%= text_field_tag(:date, 0, "data-arg" => 2, class: "input-mini" ) %><br/>
              <span class="muted description"><%= raw t("plugins.descriptions.attributes.emergency.date") %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
