<div id="google_search">
  <div class="editable-plugin bootstrap">  
    <div class="form-horizontal">
      <div class="row">
        <div class="span6">
          <div class="control-group">
            <div class="controls">
              <p class="text">
                <%= raw t("plugins.descriptions.google_search") %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span6">
          <div class="control-group">
            <label class="control-label">
              <%= t("plugins.attributes.google_search.cx") %>
            </label>
            <div class="controls">
              <%= text_field_tag(:cx, nil, "data-arg" => 1, id: nil) %>
              <span class="muted description"><%= raw t("plugins.descriptions.attributes.google_search.cx") %></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span6">
          <div class="control-group">
            <label class="control-label">
              <%= t("plugins.attributes.google_search.width") %>
            </label>
            <div class="controls">
              <%= text_field_tag(:width, nil, "data-arg" => 2, id: nil) %>
              <span class="muted description"><%= raw t("plugins.descriptions.attributes.google_search.width") %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

