<div id="navigation" class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to("pref-shimane-cms", main_app.susanoo_dashboards_path, class: "brand nav-title") %>
      <% if current_user.present? -%>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li>
              <%= link_to t("shared.navigation.page.new"), main_app.new_susanoo_page_path%>
            </li>
            <li>
              <%= link_to t("shared.navigation.page.index"), main_app.susanoo_pages_path %>
            </li>
            <li>
              <%= link_to t("shared.navigation.genre.index"), main_app.susanoo_genres_path %>
            </li>
            <% if current_user.admin? -%>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <%= t("shared.navigation.setting.title") %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to t("shared.navigation.setting.admin.divisions"), main_app.susanoo_admin_divisions_path %></li>
                <li><%= link_to t("shared.navigation.setting.admin.sections"), main_app.susanoo_admin_sections_path %></li>
                <li><%= link_to t("shared.navigation.setting.admin.users"), main_app.susanoo_admin_users_path %></li>
                <li><%= link_to t("shared.navigation.setting.admin.options"), main_app.susanoo_admin_engines_path %></li>
                <li><%= link_to t("shared.navigation.setting.admin.infos"), main_app.susanoo_admin_infos_path %></li>
                <li><%= link_to t("shared.navigation.setting.admin.emergency_infos"), main_app.edit_susanoo_admin_emergency_infos_path %></li>
                <li><%= link_to t("shared.navigation.setting.admin.helps"), main_app.susanoo_admin_helps_path %></li>
                <li><%= link_to t("shared.navigation.setting.admin.page_templates"), main_app.susanoo_admin_page_templates_path %></li>
              </ul>
            </li>
            <% end -%>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <%= t("shared.navigation.option.title") %><b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% EngineMaster.eq_enable.each do |e_m| %>
                  <% if engine_root_path = engine_root_path(e_m.name) %>
                    <% authority = Settings[e_m.name].try(:authority) %>
                    <% if !authority || current_user.send("#{authority}?") %>
                      <li><%= link_to t("engines.#{e_m.name}"), engine_root_path %></li>
                    <% end %>
                  <% end %>
                <% end %>
              </ul>
            </li>
          </ul>

          <ul class="nav pull-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <%= "#{current_user.section.name}(#{current_user.name})" %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to t("shared.navigation.change_password"), main_app.edit_susanoo_user_path(current_user) %></li>
              </ul>
            </li>
            <li class="divider-vertical"></li>
            <li><%= link_to(t("shared.navigation.logout"), main_app.logout_susanoo_user_path(current_user), method: :delete) %></li>
          </ul>
        </div>
      <% end -%>
    </div>
  </div>
</div>


