<%
  # 説明：そのフォルダ以下の新着一覧を表示する
  # 引数：最大表示数（無指定時は全て）, 最大表示日数（無指定時は全て）
  # whether to show news title automatically.
  @display_h = show_genre_news_title?(args)
  # max number of news items to show.
  max = max_count(args)
  # all the news page under the genre
  page_content_list = genre_news_list(args, @page_view.page.genre)
-%>
<% if @preview || page_content_list && !page_content_list.empty? -%>
  <dl>
    <% page_content_list[0..max].each do |content| -%>
      <dt><%= h(news_strftime_for_dl_genre_plugin(content.begin_date)) %></dt>
      <dd><a href="<%= h(content.path) %>">
      <% unless @page_view.page.genre.section_name_except_super.empty? -%>
        <%= h(content.title) -%>
      <% else -%>
        <%= h(content.title) -%>
      <% end -%>
      </a></dd>
    <% end -%>
    <% if @preview && page_content_list.empty? -%>
      <dt><%= h(news_strftime(Time.now)) -%></dt>
      <dd>サンプルページ</dd>
  <% end -%>
  </dl>
<% else -%>
<p>現在新着情報はありません。</p>
<% end -%>
