<%= form_for([:susanoo, @page], html: {class: 'form-horizontal well'}) do |f| %>
  <% if @page.errors.any? -%>
    <%= error_messages_for(@page) %>
  <% end -%>

  <div class="control-group">
    <%= f.label :title, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :title %>
      <span class="help-block"><%= t(".description.title") %></span>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :name, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :name %>
      <span class="help-block"><%= t(".description.name") %></span>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :genre_id, class: "control-label" %>
    <div class="controls">
      <%= f.hidden_field :genre_id %>
      <div style="margin:5px 0;">
        <a href="#modal-folder-select" role="button" class="btn btn-small" data-toggle="modal">フォルダ選択</a>
        <span id="selected-genre-name" style="margin-left: 20px;">
          <%= @genre? @genre.title : t(".genre_not_select")%>
        </span>
      </div>
      <span class="help-block"><%= t(".description.genre_id") %></span>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">テンプレート</label>
    <div class="controls">
      <%= f.select :template_id,
        options_for_select(PageTemplate.all.order("name").map{|s| [s.name, s.id]}),
        include_blank: true %>
      <a id="link-template-preview" href="#"  class="btn btn-info btn-small">プレビュー</a>
      <span class="help-block" style="margin-top:5px;"><%= t(".description.template_id") %></span>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit t('.next'), class: "btn btn-primary btn-small" %>
      <%= link_to_back main_app.susanoo_pages_path %>
    </div>
  </div>
<% end -%>

<div id="modal-folder-select" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">フォルダ選択</h3>
  </div>
  <div class="modal-body" style="height:300px;" >
    <div id="treeview" class="treeview"></div>
  </div>
  <div class="modal-footer">
    <button id="button-folder-select" class="btn btn-primary btn-small">選択</button>
    <button class="btn btn-small" data-dismiss="modal" aria-hidden="true">閉じる</button>
  </div>
</div>


