<% if @pages.present? -%>
  <div class="alert alert-info" style="margin:0 5px 5px 5px">
    <%= t(".found", count: @pages.total_count) %>
  </div>

  <table class="table table-striped table-hover table-condensed table-pages">
    <thead>
      <tr>
        <th rowspan="2" class="genre"><%= t(".genre") %></th>
        <th rowspan="2" class="title"><%= t(".title") %></th>
        <th colspan="3" class="latest"><%= t(".latest") %></th>
        <th colspan="2" class="private"><%= t(".private") %></th>
        <th rowspan="2" class="operation"><%= t("shared.label.operation") %></th>
      </tr>
      <tr>
        <th class="admission"><%= t(".admission") %></th>
        <th class="last_modified">
          <%= t(".last_modified") %>
          <% if @search_form.last_modified_sortable? %>
            <%= link_to_sort("page_contents.last_modified", @search_params) %>
          <% end -%>
        </th>
        <th class="preview"><%= t("shared.preview") %></th>
        <th class="admission"><%= t(".admission") %></th>
        <th class="preview"><%= t("shared.preview") %></th>
      </tr>
    </thead>
    <tbody>
      <%
        @pages.each do |page|
          published_content = page.published_content
          private_content = page.unpublished_content
      -%>
        <tr>
          <td><%= link_to page.genre.title, main_app.susanoo_pages_path(genre_id: page.genre_id) %></td>
          <td class="title"><%= page.title %><span style='margin-left:10px;'>( <%= page.name %> )<span></td>
          <td class="admission" style="text-align:center">
            <% if published_content.present? -%>
              <%= t("shared.admission.#{published_content.admission_key}") %><%= page.original.present? ? "(#{t("shared.admission.copy")})" : '' %>
            <% else %>
              <%= t("shared.empty") %>
            <% end %>
          </td>
          <td class='last_modified'>
            <%= date_text published_content.try(:last_modified) %>
          </td>
          <td class='preview'>
            <% if published_content.present? %>
              <%= link_to main_app.preview_susanoo_visitor_path(published_content), class: 'btn btn-small btn-success', target: '_blank' do%>
                <%= t('shared.preview') %>
              <% end %>
            <% end %>
          </td>
          <td class="admission" style="text-align:center">
            <% if private_content.present? -%>
              <%= t("shared.admission.#{private_content.admission_key}") %><%= page.original.present? ? "(#{t("shared.admission.copy")})" : '' %>
            <% else %>
              <%= t("shared.empty") %>
            <% end %>
          </td>
          <td class='preview'>
            <% if private_content.present? %>
              <%= link_to main_app.preview_susanoo_visitor_path(private_content), class: 'btn btn-small btn-success', target: '_blank' do%>
                <%= t('shared.preview') %>
              <% end %>
            <% end %>
          </td>
          <td class="operation" style="text-align:center">
            <% if page.original.present? -%>
              <%= link_to_show main_app.susanoo_page_path(page.original) %>
            <% else -%>
              <%= link_to_show main_app.susanoo_page_path(page) %>
            <% end -%>
          </td>
        </tr>

      <% end -%>
    </tbody>
  </table>

  <%= paginate @pages,
        params: { controller: "susanoo/pages", action: "index"}.merge(@search_params),
        remote: true %>

<% else -%>
  <div class="alert alert-info" style="margin: 5px">
    <%= t(".not_found")%>
  </div>
<% end -%>
