<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pref-shimane-cms</title>
    <%= stylesheet_link_tag "application", media: "all"%>
    <%= stylesheet_link_tag "explore", media: "all" %>
    <%= stylesheet_link_tag "treeview", media: "all" %>
    <%= stylesheet_link_tag params[:controller] if Rails.application.assets.find_asset("#{params[:controller]}.css") %>
    <%= content_for?(:stylesheet_contents) ? yield(:stylesheet_contents) : "" %>
    <%= csrf_meta_tags %>
  </head>
  <body id="<%= template_uniq_id %>">
    <div id="wrap">
      <%= render partial: "/shared/navigation"%>

      <div id="header" class="container-fluid">
        <% if page_header_required? -%>
          <div class="row-fluid page-title">
            <div class="span5">
              <h1><%= t('title', scope: template_scope ) %></h1>
            </div>
            <% if content_for?(:page_top_menu) -%>
              <div class="span7 menu-top-right">
                <%= yield(:page_top_menu) %>
              </div>
            <% end -%>
          </div>
        <% end -%>
      </div>

      <div class="container-fluid container-main">
        <% if page_header_required? -%>
          <div id='flash-message-field'><%= bootstrap_flash %></div>
        <% end -%>
        <%= yield %>
      </div> <!-- /container -->
    </div>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "ckeditor/init" %>
    <%= javascript_include_tag_nodigest "ckeditor/ckeditor"%>
    <%= javascript_include_tag "ckeditor/config.toolbar" %>
    <%= javascript_include_tag "ckeditor/config.allowed_content" %>
    <%= javascript_include_tag "ckeditor/config.remove_empty_tags" %>
    <%= javascript_include_tag "ckeditor/config.language_list" %>
    <%= javascript_include_tag "bootstrap.ckeditor.modal.fix" %>
    <%= javascript_tag do %>
      function col_resize() {
        h = $("#header").outerHeight();
        height = $(window).height() - h - 1;
        flash_field = $('#flash-message-field');
        if (flash_field.size() > 0) {
          height = height - flash_field.outerHeight() - 10;
        }
        $(".col-content").height(height);
      }

      $(function () {
        col_resize();
        var timer = false;
        $(window).resize(function() {
          if (timer !== false) {
            clearTimeout(timer);
          }
          timer = setTimeout(col_resize(), 300);
        });
      });
    <% end %>
    <%= javascript_include_tag params[:controller] if Rails.application.assets.find_asset("#{params[:controller]}.js") %>
    <%= content_for?(:javascript_contents) ? yield(:javascript_contents) : "" %>
  </body>
</html>
