<%= render 'form' %>

<%= form_tag import_csv_susanoo_genre_web_monitors_path(@genre), multipart: true, class: 'form-horizontal well' do -%>
  <fieldset>
    <legend><%= t('.csv.caption') %></legend>

    <% if @csv_importer && @csv_importer.errors.size > 0 -%>
      <%= content_tag(:div, class: "alert fade in alert-block alert-error") do -%>
        <%= content_tag(:button, "×", class: "close", "data-dismiss" =>  "alert") -%>
        <%= content_tag(:p, t('.has_errors_at', attr: @csv_importer.name)) if @csv_importer.name -%>
        <%= content_tag(:ul) do -%>
          <% @csv_importer.errors.full_messages.each do |fm| -%>
            <%= content_tag(:li) do -%>
              <%= content_tag(:span, fm) -%>
            <% end -%>
          <% end -%>
        <% end -%>
      <% end -%>
    <% end -%>

    <div class="control-group">
      <%= label_tag :csv, t('.label.csv'), class: "control-label" %>
      <div class="controls">
        <%= file_field_tag :csv %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= submit_tag t("shared.save"), class: "btn btn-primary btn-small" %>
      </div>
    </div>
  </fieldset>
<% end -%>
